* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.2;
    margin: 15px;
    padding: 0;
    background-color: #1f1d1d;
}

header {
    background: #71bff0;
    color: #1f1c1c;
    padding: 20px ;
    text-align: center;
}

header h1 {
    margin: 15px;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: #fffefe;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0f0f0f;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design